<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #5AB2FF;">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="container">
        <div class="row text-center mb-3 pt-4 ">
            <div class="col">
              <h2><b>Klasifikasi</b></h2>
            </div>
          </div>
        <form method="post">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Bagian kiri form -->
                            <div class="form-group">
                                <label for="Age" class="form-label">Age</label>
                                <input type="number" class="form-control" id="Age" name="Age" min="1" max="100">
                            </div>
                            <!-- Tambahkan field lain di bagian kiri sesuai kebutuhan -->
                            <div class="form-group">
                                <label for="Gender" class="form-label">Gender</label>
                                <input type="number" class="form-control" id="Gender" name="Gender" min="1" max="2">
                            </div>
                            <div class="form-group">
                                <label for="Dust Allergy" class="form-label">Dust Allergy</label>
                                <input type="number" class="form-control" id="Dust Allergy" name="Dust Allergy" min="1" max="8">
                            </div>
                            <!-- Tambahkan field lain di bagian kiri sesuai kebutuhan -->
                            <div class="form-group">
                                <label for="Smoking" class="form-label">Smoking</label>
                                <input type="number" class="form-control" id="Smoking" name="Smoking" min="1" max="8">
                            </div>
                            <div class="form-group">
                                <label for="Balance Diet" class="form-label">Balance Diet</label>
                                <input type="number" class="form-control" id="Balance Diet" name="Balance Diet" min="1" max="7">
                            </div>
                            <!-- Tambahkan field lain di bagian kiri sesuai kebutuhan -->
                            <div class="form-group">
                                <label for="Fatigue" class="form-label">Fatigue</label>
                                <input type="number" class="form-control" id="Fatigue" name="Fatigue" min="1" max="9">
                            </div>
                            <!-- Tambahkan field lain di bagian kiri sesuai kebutuhan -->
                      
                            <div class="form-group">
                                <label for="Snoring" class="form-label">Snoring</label>
                                <input type="number" class="form-control" id="Snoring" name="Snoring" min="1" max="7">
                            </div>
                            <!-- Tambahkan field lain di bagian kiri sesuai kebutuhan -->
                            <div class="form-group">
                                <label for="Frequent Cold" class="form-label">Frequent Cold</label>
                                <input type="number" class="form-control" id="Frequent Cold" name="Frequent Cold" min="1" max="7">
                            </div>
                            
                                <!-- Tambahkan field lain di bagian kiri sesuai kebutuhan -->
                        </div>
                        <div class="col-sm-6">
                            <!-- Bagian tengah form -->
                                <div class="form-group">
                                    <label for="Air Pollution" class="form-label">Air Pollution</label>
                                    <input type="number" class="form-control" id="Air Pollution" name="Air Pollution" min="1" max="8">
                                </div>
                                <!-- Tambahkan field lain di bagian tengah sesuai kebutuhan -->
                                <div class="form-group">
                                    <label for="Genetic Risk" class="form-label">Genetic Risk</label>
                                    <input type="number" class="form-control" id="Genetic Risk" name="Genetic Risk" min="1" max="7">
                                </div>
                                <!-- Tambahkan field lain di bagian tengah sesuai kebutuhan -->
                                <div class="form-group">
                                    <label for="Chronic Lung Disease" class="form-label">Chronic Lung Disease</label>
                                    <input type="number" class="form-control" id="Chronic Lung Disease" name="Chronic Lung Disease" min="1" max="7">
                                </div>
                                <div class="form-group">
                                    <label for="Chest Pain" class="form-label">Chest Pain</label>
                                    <input type="number" class="form-control" id="Chest Pain" name="Chest Pain" min="1" max="9">
                                </div>
                                <!-- Tambahkan field lain di bagian tengah sesuai kebutuhan -->              
                                <div class="form-group">
                                    <label for="Wheezing" class="form-label">Wheezing</label>
                                    <input type="number" class="form-control" id="wheezing" name="Wheezing" min="1" max="8">
                                </div>
                                <!-- Tambahkan field lain di bagian tengah sesuai kebutuhan -->              
                                <div class="form-group">
                                    <label for="Clubbing of Finger Nails" class="form-label">Clubbing of Finger Nails</label>
                                    <input type="number" class="form-control" id="Clubbing of Finger Nails" name="Clubbing of Finger Nails" min="1" max="9">
                                </div>
                                <!-- Tambahkan field lain di bagian tengah sesuai kebutuhan -->
                                <div class="form-group">
                                    <label for="Dry Cough" class="form-label">Dry Cough</label>
                                    <input type="number" class="form-control" id="Dry Cough" name="Dry Cough" min="1" max="7">
                                </div>
                                <!-- Tambahkan field lain di bagian tengah sesuai kebutuhan -->
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary d-grid gap-2 col-12 mx-auto mt-4" type="Predict">Predict</button>
                      </div> 
                    </form>
                </div>
                <div class="col-lg-4">
                    <!-- Bagian kanan form -->
                    <H3>
                        Hasil Prediksi
                    </H3>
                    <p>
                        {{ result }}
                    </p>
                    
                </div>
            </div>
    </div>
        
</body>
</html>